/* .button {
    background: red;
    font-size: 28px;
}

.button:focus {
    outline: none;
} */

.hovered {
    background: white;
    opacity: 0.35;
    clip-path: circle(0% at 0% 50%);
    transition: all 200ms;
}

.button:hover .hovered {
    clip-path: circle(150% at 0% 0%);
}
