@tailwind  base;
@tailwind  components;
@tailwind  utilities;

html {
  font-size: 16px;
}

.ql-container {
  font-size: inherit !important;
  font-family: inherit !important;
}

.ql-tooltip {
  z-index: 10000;
}
