@tailwind  base;
@tailwind  components;
@tailwind  utilities;

@layer utilities {
  @variants responsive {
    .min-h-screenWtopnavbar {
      min-height: calc(100vh - 16px);
    }
    
    .min-h-screenWbothnavbars {
      min-height: calc(100vh - 32px);
    }
  }
}

html {
  font-size: 16px;
}

.ql-container {
  font-size: inherit !important;
  font-family: inherit !important;
}

.ql-tooltip {
  z-index: 10000;
}